@import "../../App.scss";

.trash {
    background-color: $deleteBtn;
    width: 4rem;
    border: none;
    transition: all 0.2s ease;
    padding: 0 1.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        fill: white;
        width: 1.2rem;
        height: 1.2rem;
    }
}
